
<div class="col-md-6 col-sm-5 p-2 d-flex"
     style="font-size:18px;align-items: center;justify-content: space-around;"
     id="admin-page-right-nav">
    <span style="font-size:30px;cursor:pointer" onclick="adminpage_openNav()"
          class="d-lg-none d-flex" style="position:absolute;display: inline-flex;">&#9776;</span>
    Thursday,November 3 2022,10:06 AM
</div>
<div class="col-md-3 col-sm-1">
</div>
<div class="col-md-3 col-sm-5 d-flex p-2" id="admin-page-left-nav">
    <img class="img-fluid" src="./images/user1.png" style="border-radius: 50%;height:40px;">
    <button value=""
            style="border: none; background: white;margin-left: 10px;height: 30px;"
            class="dropdown-toggle bg-light user-btn" type="button" id="dropdownMenu2"
            data-bs-toggle="dropdown" aria-expanded="false">
        john due
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        @*         <li class="dropdownnavbarlinks"><button class="dropdown-item" type="button"><a
            style="text-decoration:none;color:black;" href="@Url.Action("
            EditProfile", "Account" )">Edit profile</a></button></li>
            <li class="dropdownnavbarlinks"><button class="dropdown-item" type="button"><a
            style="text-decoration:none;color:black;" href="@Url.Action(" logout", "Account"
            )">Logout</a></button></li>
            <li class="dropdownnavbarlinks"><button class="dropdown-item" type="button"><a
            style="text-decoration:none;color:black;" href="@Url.Action("
            VolunteeringTimesheet", "Account" )">VolunteeringTimesheet</a>
            </button></li>*@
    </ul>
</div>