    @model CIPlatform.Entities.ViewModels.Admin_user_crudModel

@*modal for add*@
<div class="modal fade" id="ADDUSERADMIN" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog" style="margin: 10vh 0 0 10vw;">
        <div class="modal-content" style="width:80vw;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Add User </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <form id="add-user-by-admin" method="post" action="AddUser_crud">
                <div class="modal-body">
                    <span class="text-danger" id="user-add-by-admin"></span>
                    <br>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label asp-for="FirstName" class="col-form-label">First Name:</label>
                            <br />
                            <input type="text" class="w-100" required asp-for="FirstName" id="user-first-name">
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>
                        <div class="mb-3 col-6 ">
                            <label asp-for="LastName" class="col-form-label">Last Name:</label>
                            <br />
                            <input type="text" asp-for="LastName" class="w-100" id="user-last-name">
                            <span class="text-danger" asp-validation-for="LastName"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="col-form-label">Email</label>
                            <br />
                            <input type="email" asp-for="Email" class="w-100" id="email" autocomplete="off">
                            <span class="text-danger" id="email-error" asp-validation-for="Email"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="col-form-label">Password:</label>
                            <br />
                            <input type="password" asp-for="Password"  class="w-100" id="password">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="col-form-label">Phone Number:</label>
                            <br />
                            <input asp-for="PhoneNumber" id="phone-number" class="w-100">
                            <span class="text-danger" asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="EmplyoeeId" class="col-form-label">Employee Id:</label>
                            <br />
                            <input type="number" asp-for="EmplyoeeId" class="w-100" id="employee-id">
                            <span class="text-danger" asp-validation-for="EmplyoeeId"></span>
                        </div>
                        <div class="mb-3 col-6 ">
                            <label asp-for="Department" class="col-form-label">Department:</label>
                            <br />
                            <input asp-for="Department" type="text" class="w-100" id="department">
                            <span class="text-danger" asp-validation-for="Department"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


