@model CIPlatform.Entities.ViewModels.VolunteeringTimesheetModel
@*=====================================================*@
@*edit time sheet modals for goal based*@
@*=====================================================*@
<div class="modal fade" id="editGOALMISSIONSHEET" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog" style="margin: 10vh 0 0 10vw;">
        <div class="modal-content" style="width:80vw;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit input below Volunteering Goal </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="edittimesheetgoal">
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="col-md-12">
                            Mission
                            <div>
                                @if (Model.missiontitleedit != null)
                                {
                                    <input type="text" asp-for="missiontitleedit" value="@Model.missiontitleedit" readonly class="w-100 p-2">
                                    <input type="hidden" value="@Model.MissionId" id="getmissionid-goaledit" asp-for="MissionId">
                                    <input type="hidden" value="@Model.timesheetid" asp-for="timesheetid"/>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <label>Action</label>
                        <input asp-for="Action" class="form-control mt-2" placeholder="Enter your Hours" type="text" id="actiongoalgetdiv-edit">
                        <span asp-validation-for="Action" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 storydropdown mt-3">
                        Date
                        <input asp-for="DateVolunteered" class="form-control mt-1" type="date" placeholder="Select date"
                               aria-label="default input example" id="dategoalgetdiv-edit">
                        <span asp-validation-for="DateVolunteered" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message*</label>
                        <textarea asp-for="Notes" class="form-control" placeholder="Enter your Message" rows="3" id="msggoalgetdiv-edit"></textarea>
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btncancel-timesheet" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success btnsubmit-timesheet" id="editgoaltimesheetbtn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
