

.leftnav {
   
    height: 40px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.rightnav {
    height: 40px;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.leftheader {
   
    height: 50px;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

.rightheader {

    height: 50px;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-start;
}

.leftheader>input {
    width: 70%;
    margin-left: 15px;
}

.checked {
    color: orange;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: orange;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.img-content{
    flex-direction: column;
}




@media(max-width:746px){
    .rightheader{
        border-top:1px solid black;
       
    }
}