:root {
    --header-height: 222px;
}


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}


#maincarousel > .row {
    height: 100vh;
    width: 100vw;
}

#imagecontent {
    margin: 0px;
    padding: 0px;
}

    #imagecontent img {
        height: 100vh;
    }

.imgcontent {
    text-align: left;
    left: 14%;
    bottom: 4rem;
    display: block !important;
}

    .imgcontent h1 {
        font-weight: normal;
        line-height: 5vh;
        width: 61%;
    }

    .imgcontent p {
        width: 83%;
    }

.logincontent {
    height: 100vh;
}

.logincontent {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    justify-content: center;
}

    .logincontent > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 74vh;
        justify-content: center;
    }

        .logincontent > form > * {
            width: 100%;
            color: #414141;
            margin-bottom: 1vh;
            padding: 1vh;
            font-size: 2vh;
        }

        .logincontent > form > a {
            width: auto;
            width: auto;
            text-decoration: none;
            font-size: 1.5vh;
        }

        .logincontent > form > input {
            box-shadow: 0.97px 0.26px 3px #0000000D;
            border: 1px solid #D9D9D9;
            border-radius: 1vh;
        }

        .logincontent > form > p > a {
            color: #2B64B1;
            text-decoration: none;
        }

        .logincontent > form > p {
            width: auto;
            font-size: 1.5vh;
        }

        .logincontent > form > input[type=submit] {
            background: #F8863400 0% 0% no-repeat padding-box;
            border: 2px solid #F88634;
            color: #F88634;
            margin-top: 1vh;
            border-radius: 2.4vh;
        }

#loginpolicy > p {
    text-align: center;
}

@media screen and (max-width:1200px) {
    .logincontent > form > * {
        font-size: 1.5vh;
    }

    .logincontent {
        padding: 1vh;
    }
}

@media screen and (max-width:767px) {
    #imagecontent {
        height: 45vh;
    }

        #imagecontent img {
            height: 45vh;
        }

    .logincontent {
        height: 55vh;
    }

    .imgcontent {
        bottom: 0;
        display: block !important;
    }

        .imgcontent p {
            font-size: 1.5vh;
            line-height: 2vh;
            width: 100%;
        }

        .imgcontent h1 {
            font-weight: normal;
            line-height: 3vh;
            width: 100%;
        }

    .logincontent > form > * {
        font-size: 1.9vh;
    }

    .logincontent {
        padding: 4vh;
    }
}
/* =========================================================================================================== */
/* register */
/* =========================================================================================================== */
#registerform {
    height: 84vh;
}

    #registerform > * {
        margin-bottom: 0.2vh;
    }
/* responsive register */
@media only screen and (max-width:767px) {
    #registercontent > #loginpolicy {
        font-size: 1vh;
    }

    #registerform {
        padding-top: 2vh;
    }

        #registerform > * {
            margin-bottom: 0;
            font-size: 1.3vh;
            padding-bottom: 0.2vh;
        }
}
/* =========================================================================================================== */
/* forgot password */
/* =========================================================================================================== */
#forgotheading {
    text-align: center;
    color: #414141;
    font-size: 2vh;
    margin-bottom: 0;
}

#forgotinfo {
    text-align: center;
    color: #414141;
    font-size: 1.5vh;
    padding-top: 0;
    padding: 0vh 2vw;
}
/* =========================================================================================================== */
/* newpassword.html */
/* =========================================================================================================== */
#newpassheading {
    text-align: center;
    color: #414141;
    font-size: 2vh;
    margin-bottom: 0;
}

#newpassinfo {
    text-align: center;
    color: #333333;
    font-size: 1.5vh;
    padding-top: 0;
    padding: 0vh 2vw;
}
/* ===================================================================================================================== */
/* home.html */
/* ===================================================================================================================== */
#mainHeader {
    background-color: white !important;
    padding-bottom: 0;
}

#leftNavbarSupportedContent {
    width: 60%;
}

#homeNavbarUI {
    flex-direction: row;
    justify-content: center;
}

#main-header header {
    min-width: max-content;
    top: 0;
    left: 0;
}

#main-first-header {
    max-width: 1420px;
    height: 72px;
    min-width: max-content;
}

#user-profile-img {
    height: 40px;
    width: 40px;
}

.home-nav-item {
    padding: 1vh 1vw;
}

.nav-link-font {
    color: #414141 !important;
    font-size: 2.3vh;
    font-weight: lighter;
}

#rightNavbarSupportedContent {
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 15vw;
}

#profilePicture {
    height: 6.6vh;
    width: 4.5vw;
    border-radius: 50%;
}

#profileDropdown {
    width: 10vw;
}

#firstHr {
    margin: 0;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

#main-second-header {
    height: 78px;
    max-width: 1420px;
}

#search-input {
    width: 100%;
}

.chip-item {
    min-width: max-content;
}

#filter-image {
    width: 30px;
    height: 30px;
}

#filter-dropdowns {
    height: 100%;
}
/* ================================================================================================================================= */
/* media query for home */
/* ================================================================================================================================= */
@media screen and (max-width:1440px) {
    #rightNavbarSupportedContent {
        padding-left: 10vw;
    }
}

@media screen and (max-width:1024px) {
    #leftNavbarSupportedContent {
        width: 50%;
    }

    #rightNavbarSupportedContent {
        width: 50%;
    }

    .nav-link-font {
        font-size: 2vh;
    }

    #homeNavbarUI {
        justify-content: left;
    }

    #profilePicture {
        height: 5vh;
        width: 5vw;
    }
}

@media screen and (max-width:1024px) {
    #rightNavbarSupportedContent {
        width: 60%;
        padding-left: 15vw;
    }

    #leftNavbarSupportedContent {
        width: 40%;
    }

    .nav-link-font {
        font-size: 1.8vh;
    }
}

@media screen and (max-width:768px) {
    #rightNavbarSupportedContent {
        width: 50%;
        text-align: center;
        padding-left: 0;
    }

    #leftNavbarSupportedContent {
        width: 50%;
    }

    #profilePicture {
        height: 5vh;
        width: 10vw;
    }

    #profileName {
        font-size: 1.5vh;
    }
}
/* =========================================================================== */
/* mission-home-page */
/* =========================================================================== */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.leftnav {
    height: 60px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.rightnav {
    height: 60px;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.leftheader {
    height: 50px;
    align-items: center;
    justify-content: center;
}

.rightheader {
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-start;
}

    .rightheader > button {
        width: 16%;
    }

.leftheader > input {
    width: 40%;
    margin-left: 15px;
}

.checked {
    color: orange;
}

.pagination {
    display: inline-block;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

        .pagination a.active {
            background-color: orange;
            color: white;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

.img-content {
    flex-direction: column;
}

.card-img-top {
    position: relative;
}

.list-image-part {
    width: 100%;
}

.list-content-part {
    width: 70%;
}

.list-img {
    height: 250px;
    width: 100%;
}

.list-card-theme-title {
    position: absolute;
    top: 220px;
    left: 33%;
    font-weight: lighter;
}

#grid-card-image-content {
    top: 0px;
    right: 0px;
    justify-content: space-between;
}

.list-img-content {
    background-color: black;
    color: white;
    opacity: 0.6;
    max-width: max-content;
}

.card-title {
    font-weight: bolder;
    width: 100%;
}

#list-card-image-content {
    top: 0px;
    right: 0px;
}

#list-img {
    height: 290px;
    width: 100%;
}

#list-card-theme-title {
    position: absolute;
    top: 250px;
    left: 30%;
    font-weight: lighter;
}

#menubar {
    position: absolute;
    border: 1px solid black;
    flex-direction: column;
    height: 100vh;
    background: white;
    display: none;
    z-index: 1;
}

#menubarimg {
    position: absolute;
    top: 10px;
    left: 13%;
    width: 40px;
}

.menuitem {
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

#filterbutton {
    display: none;
}

#filterbar {
    position: absolute;
    border: 1px solid black;
    flex-direction: column;
    height: 100vh;
    background: white;
    display: none;
    z-index: 1;
}

.list-image-part-2 {
    width: 30%;
}

.card-title-list {
    width: 65%;
}

.card-title-list-text {
    font-weight: bolder;
}

@media(max-width:2500px) {
    #menubarimg {
        display: none;
    }
}

@media(max-width:962px) {
    #list-card-theme-title {
        left: 22%;
    }
}

@media(max-width:766px) {
    .rightheader {
        border-top: 1px solid black;
    }

    .rightnav {
        display: block;
    }

    #menubarimg {
        display: inline-block;
    }

    .leftnav {
        display: none !important;
    }

    #rightheader {
        display: none !important;
    }

    #filterbutton {
        display: flex;
    }

    .leftheader {
        justify-content: space-evenly;
    }

    #list-card-theme-title {
        left: 10%;
    }
}

@media(max-width:572px) {
    #menubarimg {
        left: 0%;
    }

    .list-image-part-2 {
        width: 100%;
    }

    #list-card-theme-title {
        left: 29%;
    }

    .card-title-list {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}


/* =========================================================================================================== */
/*volunteering mission.css */
/* =========================================================================================================== */

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

    .rating > input {
        display: none
    }

    .rating > label {
        position: relative;
        width: 6rem;
        font-size: 1.5rem;
        font-weight: 300;
        color: #FFD600;
        cursor: pointer
    }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important
        }

    .rating > input:checked ~ label:before {
        opacity: 1
    }

    .rating:hover > input:checked ~ label:before {
        opacity: 0.4
    }

#carouselExampleControls {
    height: 120px;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: white;
}

    .tab button {
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        background-color: white;
    }

        .tab button:hover {
            border-bottom: 2px solid black;
        }

        .tab button.active {
            border-bottom: 2px solid black;
        }

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    overflow-y: scroll;
    height: 730px;
}

    .tabcontent h3 {
        font-weight: normal;
    }

    .tabcontent::-webkit-scrollbar {
        display: none;
    }

.information-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    flex-wrap: wrap;
}

/*vol -pagination*/


.hidden {
    display: none;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    b
}

.pagination-number,
.pagination-button {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: .2rem;
}

    .pagination-number:hover,
    .pagination-button:not(.disabled):hover {
        background: #fff;
    }

    .pagination-number.active {
        color: #fff;
        background: orange;
    }

#paginated-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    background-color: #FFDFB9;
}

.volunteer-list-img {
    border: 1px solid;
    border-radius: 70%;
    height: 100px;
    width: 100px;
}

@media(max-width:766px) {
    #vol-right-info {
        margin-top: 20px;
    }
}


/* =========================================================================================================== */
/*story-listing.css */
/* =========================================================================================================== */

#story-list-top-img {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../images/Grow-Trees-On-the-path-to-environment-sustainability-login.png);
    height: 250px;
    background-size: 100vw 615px;
    background-repeat: no-repeat;
    background-position: 0px -180px;
}
/* =========================================================== */
/* volunteering_mission_page */
/* =========================================================== */
.volunteer-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.volunteer-content::-webkit-scrollbar {
    display: none;
}

#volunteer-info-tabs::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.volunteer-content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.volunteer-main-image {
    height: 625px;
}

#carouselExampleControls {
    height: 120px;
}

#volunteer-mission-title {
    color: #414141;
    font-weight: lighter;
    width: 90%;
}

#volunteer-mission-description {
    color: #414141;
    font-weight: lighter;
    width: 90%;
}

#volunteer-mission-tagline-div {
    z-index: 1;
    position: relative;
}

#volunteer-mission-tagline-title {
    width: fit-content;
    font-weight: lighter;
}

#volunteer-seats-info-card {
    top: -18px;
    z-index: 0;
}

#vounteer-seats-left-image {
    height: 25px;
    width: 25px;
}

#vounteer-seats-left-text {
    color: #757575;
    min-width: max-content;
}

#vounteer-achieved-image {
    height: 25px;
    width: 25px;
}

#vounteer-achieved-text {
    color: #757575;
}

.progress-bar {
    background-color: #F88634;
}

.progress {
    width: 130px;
    height: 12px;
}

#mission-favourite-recomend-div span {
    color: #757575 !important;
}

#mission-favourite-recomend-div button {
    border-color: #757575;
}

#mission-related-information-div .caption-badge {
    display: none;
}

#mission-related-information-div .krajee-icon-clear {
    display: none;
}

.rating-stars {
    background-color: white;
}

.mission-related-info {
    width: 153px;
    height: 130px;
}

.mission-related-item {
    top: -17px;
}

.mission-related-info-title {
    color: #757575;
    font-size: 12px;
}

.mission-related-info-desc {
    color: #757575;
    font-size: 16px;
}

.volunteer-button-apply {
    display: flex;
    justify-content: center;
    align-items: center;
}

#volunteer-apply-btn {
    color: #F88634;
    border-color: #F88634;
}
/* volunteer information */
#volunteer-information {
    height: 830px;
}

#volunteer-info-tabs {
    width: 58%;
}

#volunteer-recent-info {
    width: 38%;
}

#volunteer-basic-info-div {
    height: 35%;
}

#recent-volunteer-info-div {
    height: 65%;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: white;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        background-color: white;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            border-bottom: 2px solid black;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            border-bottom: 2px solid black;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    overflow-y: scroll;
    height: 730px;
}

    .tabcontent h3 {
        font-weight: normal;
    }

    .tabcontent::-webkit-scrollbar {
        display: none;
    }

#comment {
    resize: none;
}

.avtar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#volunteer-comments-div {
    background-color: #E8E8E8;
}

#volunteer-information-span {
    text-decoration: underline;
    text-underline-offset: 7px;
}

#volunteer-recent-info {
    color: #414141;
}

.volunteer-info-div-items {
    height: 33%;
}

#volunteer-recent-volunteer-span {
    text-decoration: underline;
    text-underline-offset: 7px;
}

.volunteer-images-div {
    width: 33%;
}

.volunteer-images {
    width: 70px;
    height: 70px;
}

.volunteer-names {
    color: #414141;
}

.volunteer-scroll-bar-btn {
    width: 10%;
    height: 100%;
}

.volunteer-scroll-bar-span {
    width: 80%;
}

/* Related missions */
#related-mission-heading {
    color: #414141;
    font-weight: lighter;
}

#related-mission-grid {
    max-width: 1420px;
}

.related-grid-item {
    height: 140px;
}

.related-card-img {
    height: 300px !important;
}

.related-card-theme-title {
    position: absolute;
    top: 280px;
    left: 34%;
    font-weight: lighter;
}

#card-image-content {
    height: 300px;
}

#card-time-duration-title {
    width: fit-content;
    font-weight: lighter;
}

#related-card-image-content {
    position: absolute;
    right: 0px;
}

.related-img-content {
    background-color: black;
    color: white;
    opacity: 0.6;
    max-width: max-content;
}
/* ============================================== */
/* media query for volunteer */
/* ============================================== */
@media screen and (max-width:767px) {
    #volunteer-image-part {
        width: 60% !important;
    }

    #volunteer-content-part {
        width: 40% !important;
    }

    #volunteer-mission-title {
        width: 100%;
        font-size: 25px !important;
    }

    #volunteer-mission-description {
        width: 100%;
        font-size: 12px !important;
    }

    .volunteer-favourite-button {
        width: 100% !important;
    }

    .mission-related-info {
        height: 100px;
        width: 104px;
        margin: 1px;
    }

    #volunteer-info-tabs {
        width: 100%;
        height: 50%;
    }

    #volunteer-recent-info {
        width: 100%;
        height: 50%;
    }

    .tabcontent {
        height: calc(100% - 74px);
    }

    #volunteer-basic-info-div {
        height: max-content;
        width: 35%;
    }

    #recent-volunteer-info-div {
        height: max-content;
        width: 65%;
    }

    .volunteer-names {
        font-size: 13px !important;
    }

    .volunteer-images {
        width: 50px;
        height: 55px;
    }
}

@media screen and (max-width:576px) {
    #volunteer-image-part {
        width: 100% !important;
    }

    #volunteer-content-part {
        width: 100% !important;
    }

    #volunteer-seats-info-card {
        flex-direction: row !important;
    }

    #volunteer-basic-info-div {
        width: 100%;
    }

    #recent-volunteer-info-div {
        width: 100%;
    }

    #volunteer-recent-info {
        width: 100%;
        height: 55% !important;
    }

    #volunteer-info-tabs {
        width: 100%;
        height: 45%;
    }

    #volunteer-information {
        height: 1420px;
    }
}

@media screen and (max-width:360px) {

    #volunteer-remain-seats-cards {
        width: 40% !important;
    }
}
/* ================================================================================= */
/* story listing page */
/* ================================================================================= */
#story-content {
    height: calc(100vh - var(--header-height));
}

#story-list-div {
    background-color: #FFFFFF00;
}

#story-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#story-top-image-div {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../images/Grow-Trees-On-the-path-to-environment-sustainability-login.png);
    height: 250px;
    background-size: 100vw 615px;
    background-repeat: no-repeat;
    background-position: 0px -180px;
}

.user-story-image {
    height: 250px;
    width: 100%;
}

.story-image-heading {
    top: 234px;
}

.user-story-description, .story-user-name {
    color: #757575;
}

.user-story-profile-img {
    height: 50px;
    width: 50px;
}

/* media query */
@media screen and (max-width:768px) {
    #story-top-image-div > div {
        width: 80% !important;
    }
}

@media screen and (max-width:360px) {
    #story-top-image-div > div {
        font-size: 12px !important;
    }
}
