@model CIPlatform.Entities.ViewModels.Admin_user_crudModel

<link rel="stylesheet" href="~/Admin/css/admin.css" asp-append-version="true" />
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 col-lg-3  d-lg-flex flex-column" id="admin-page-navigation">
            @Html.Partial("_Admin_dashboard")
        </div>
        <div class="col-xl-10 col-lg-9">

            <div class="card row d-flex p-3" style="flex-direction: row;">
                @Html.Partial("_Admin_Header")
            </div>
            <div class="container mt-3">
                <h1>
                    User
                </h1>
                <hr>
                <div class="row mt-4" style="justify-content: space-between;">
                    <div class="col-3 px-1"
                         style="align-items: center;display: flex;justify-content:space-between;flex-direction: row;
                         border:1px solid gray;height:50px;border-radius: 10px;margin-left:10px;">
                        <img src="./images/search.png" style="height:20px;">
                        <input type="text" id="admin-user-search-bar" placeholder="Search" style="width:90%;border: none;">
                    </div>
                    <div class="col-5">
                    </div>
                    <div class="col-3 d-flex" style="justify-content: flex-end;">
                        <button class="p-2"
                                style="background: none;border: 2px solid orange;border-radius: 15px;
                                color: orange;font-weight: bolder;width: 150px;margin-right: 0px;" data-bs-toggle="modal" data-bs-target="#ADDUSERADMIN">
                            + Add
                        </button>
                    </div>
                </div>
                <div class="row mt-4" id="usertablelist">
                    @Html.Partial("_Admin_user_crud_table")
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Modal_user_crud")
 @section Javascript{
<script src="~/js/Admin.js" asp-append-version="true"></script>
  }
