@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8" id="left">



                <div class="heading">
                    <stan>Sed ut perspiciatis unde omnis iste natus voluptatem.</stan>
                </div>


                <div class="tagpara">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                        in
                        culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

            </div>


            <div class="col-md-4 col-" id="right">
                <div class="resetpassword">
                    <h4>New Password</h4>
                </div>
                <div  id="resettag">
                    <stan style="font-size: 2vh;justify-content: center;
                    display: flex;" >
                        Please enter a new password in the fields below.
                    </stan>
                </div>



                <div class="form">
                    <form action="#">
                        <div>
                            <label for="email">Email Address</label>
                            <input type="email" name="email" id="email" placeholder="Enter your email address..">
                        </div>

                        <div style="margin-top: 13px;">
                            <label for="conform password">Confirm New Password</label>
                            <input type="password" id="email" placeholder="">
                        </div>

                        <div>
                            <button>Change Password</button>
                        </div>
                    </form>
                </div>

                <div class="formfooter">
                    <a style="color: #414141;" href="#">Login</a>


                </div>

                <div class="footer">
                    <stan style="color: #414141;">Privacy policy</stan>
                </div>



            </div>
        </div>

    </div>
